body {
    font-family: Attera, sans-serif;
    margin: 0;
    background: #d6d6d6;
}

.frame {
    border: 2px solid white;
    margin: 10px;
    width: 100%;
    position: relative;
    overflow: visible;
}

.frame img {
    width: 100%;
    display: block;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover {
    color: #9a9696;
}

#home-gallary {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 2fr 1fr;
}

.introductory-text,
.example-shots {
    transform: translateY(30px);
}

.introductory-text{
    animation-delay: 1.5s;
    animation: fadeUp 0.6s ease forwards;
}

.introductory-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.introductory-text p {
    font-size: 16px;
    color: white;
    line-height: 1.8;
}

.introductory-text button {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid white;
    background: none;
    cursor: default;
    color: white;
}

.example-shots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.example-shots img {
    width: 100%;
    border: 2px solid white;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.example-shots img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0,0,0,0.3);
}

@font-face {
    font-family: Attera;
    src: url("Fonts/attera/Attera.otf") format("opentype");
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#hero {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#hero img {

    display: block;
    height: auto;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 50%;

    transform: translate(-50%, -50%);
    color: black;
    text-align: right;
}

.overlay h1 {
    font-size: 2rem;
    margin: 0;
    text-align: right;
    padding: 0;
}

.overlay p {
    font-size: 37px;
    text-align: right;
    margin: 6px;
}

.overlay-right {
    right: 20px;
}

#Gallary {
    text-align: center;
    margin: 0;
    display: flex;
    margin: 10px;

}

#Gallary img {
    max-width: 100%;

}

.gallary-container {
    position: relative;
    max-width: 900px;
    width: 100%;
}

.gallary-container img {
    width: 100%;
    display: block;
    border: 2px solid white;
    overflow: hidden;

}

.Cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;

}

html {
    scroll-behavior: smooth;
}